.AppSwitch {
  position: absolute;
  top: 15px;
  right: 15px;

  &__mode {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    
    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }
  }

  input:checked + .AppSwitch__mode__slider {
    background-color: $primary-red;
  }

  input:focus + .AppSwitch__mode__slider {
    box-shadow: 0 0 1px $primary-red;
  }

  input:checked + .AppSwitch__mode__slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .AppSwitch__mode__slider.AppSwitch__mode__round {
    border-radius: 34px;
  }

  .AppSwitch__mode__slider.AppSwitch__mode__round:before {
    border-radius: 50%;
  }
}