.SelectSection {
  padding: 70px 0 120px;
  text-align: center;

  &__content-wrapper {
    margin-bottom: 45px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $dark-title-text;
    line-height: 40px;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  
  &__text {
    font-size: 18px;
    color: #737373;
    max-width: 950px;
    margin: 0 auto;

    &--bold {
      font-weight: 600;
      color: #2C3138;
    }
  }

  &__select-wrapper {
    max-width: 355px;
    margin: auto;
  }
}